
$fonts_path : '../fonts/';
$font_name : 'Proxima';

@font-face {
  	 font-family: $font_name;
    src: url( $fonts_path + 'ProximaNova-Regular.eot');
    src: url( $fonts_path + 'ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url( $fonts_path + 'ProximaNova-Regular.woff2') format('woff2'),
        url( $fonts_path + 'ProximaNova-Regular.woff') format('woff'),
        url( $fonts_path + 'ProximaNova-Regular.ttf') format('truetype'),
        url( $fonts_path + 'ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $font_name;
    src: url( $fonts_path + 'ProximaNova-Bold.eot');
    src: url( $fonts_path + 'ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url( $fonts_path + 'ProximaNova-Bold.woff2') format('woff2'),
        url( $fonts_path + 'ProximaNova-Bold.woff') format('woff'),
        url( $fonts_path + 'ProximaNova-Bold.ttf') format('truetype'),
        url( $fonts_path + 'ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}